.top-header {
  border: 1px solid #bbbbbb;
}

.nav {
  border: 1px solid #bbbbbb;
  padding: 12px;
  border-top: none
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  margin: 0 4px;
  color: black
}

.nav-link:hover {
  text-decoration: underline;
}

.App {
  margin: 4px
}