.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.tooltip {
  background: #770033;
  color: white;
  border-radius: 50px;
  padding: 1px 6px;
}

.top-header {
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  margin-top: 36px;
  padding: 12px 8px;
}

.nav {
  border: 1px solid #cccccc;
  padding: 12px;
  border-top: none
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  margin: 0 4px;
  color: black
}

.nav-link:hover {
  text-decoration: underline;
}

.App {
  margin: 12px
}

.btn {
  border: 1px solid #bbbbbb;
  background: white;
  cursor: pointer;
  padding: 16px 28px;
  margin: 4px;
  font-size: 14px;
  border-radius: 2px;
}

.btn.primary {
  color: #eeeeee;
  background: #770033;
  border-color: #670a12;
}

.center-align {
  text-align: center;
}

.label {
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 12px;
}

.text-input {
  padding: 16px;
  margin: 0 0 8px;
  border-radius: 2px;
  border: 1px solid #333333;
}

input[type="file"] {
  display: none;
}

.file-input {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 100px 30%;
  cursor: pointer;
}

.suggestion-card {
  display: flex;
  padding: 4px;
  cursor: pointer;
}

.suggestion-card:hover {
  background: #eeeeee;
}

select {
  width: 180px
}

.autocomplete {
  border: 1px solid black;
  border-top: none;
  cursor: pointer;
  width: 150px;
  background: white;
  padding: 4px;
}

.autocomplete-container {
  position: absolute;
  top:0;

}
